<div class="game" id="{{id}}">
    <div class="player">
        <div class="avatar"><img src="{{player.avatar}}" /></div>
        <div class="name">{{{player.username}}}</div>
    </div>
    <div class="frames">
        <div class="frame {{#if frames.1.edited}}edited{{/if}}" data-frame="1">
            <div class="throw">{{frames.1.throw1.value}}</div>
            <div class="throw">{{frames.1.throw2.value}}</div>
            <div class="total">{{frames.1.score}}</div>
        </div>
        <div class="frame {{#if frames.2.edited}}edited{{/if}}" data-frame="2">
            <div class="throw">{{frames.2.throw1.value}}</div>
            <div class="throw">{{frames.2.throw2.value}}</div>
            <div class="total">{{frames.2.score}}</div>
        </div>
        <div class="frame {{#if frames.3.edited}}edited{{/if}}" data-frame="3">
            <div class="throw">{{frames.3.throw1.value}}</div>
            <div class="throw">{{frames.3.throw2.value}}</div>
            <div class="total">{{frames.3.score}}</div>
        </div>
        <div class="frame {{#if frames.4.edited}}edited{{/if}}" data-frame="4">
            <div class="throw">{{frames.4.throw1.value}}</div>
            <div class="throw">{{frames.4.throw2.value}}</div>
            <div class="total">{{frames.4.score}}</div>
        </div>
        <div class="frame {{#if frames.5.edited}}edited{{/if}}" data-frame="5">
            <div class="throw">{{frames.5.throw1.value}}</div>
            <div class="throw">{{frames.5.throw2.value}}</div>
            <div class="total">{{frames.5.score}}</div>
        </div>
        <div class="frame {{#if frames.6.edited}}edited{{/if}}" data-frame="6">
            <div class="throw">{{frames.6.throw1.value}}</div>
            <div class="throw">{{frames.6.throw2.value}}</div>
            <div class="total">{{frames.6.score}}</div>
        </div>
        <div class="frame {{#if frames.7.edited}}edited{{/if}}" data-frame="7">
            <div class="throw">{{frames.7.throw1.value}}</div>
            <div class="throw">{{frames.7.throw2.value}}</div>
            <div class="total">{{frames.7.score}}</div>
        </div>
        <div class="frame {{#if frames.8.edited}}edited{{/if}}" data-frame="8">
            <div class="throw">{{frames.8.throw1.value}}</div>
            <div class="throw">{{frames.8.throw2.value}}</div>
            <div class="total">{{frames.8.score}}</div>
        </div>
        <div class="frame {{#if frames.9.edited}}edited{{/if}}" data-frame="9">
            <div class="throw">{{frames.9.throw1.value}}</div>
            <div class="throw">{{frames.9.throw2.value}}</div>
            <div class="total">{{frames.9.score}}</div>
        </div>
        <div class="frame {{#if frames.10.edited}}edited{{/if}}" data-frame="10">
            <div class="throw">{{frames.10.throw1.value}}</div>
            <div class="throw">{{frames.10.throw2.value}}</div>
            <div class="throw">{{frames.10.throw3.value}}</div>
            <div class="total">{{frames.10.score}}</div>
        </div>
    </div>
</div>